[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"

[dev-packages]

[requires]
python_version = "3.11"

[scripts]
run = "cd gestion_taches && python manage.py runserver"
migrate = "cd gestion_taches && python manage.py migrate"
